In [33]:
# The following code creates a pivot or fallow acreage summary table.
# Created by Carolyn Rosevelt, NASA-Ames/CSUMB Cooperative 02/14/18

# Import libraries and read-in FAM output csv file.
import pandas as pd
import numpy as np

# Read-in merged csv file and convert to excel.
df = pd.read_csv(r"\...\reclass_w_base16csv_merged.csv")
df.head()
df1 = df.to_excel(r"\...\reclass_w_base16csv_merged.xlsx")
df1 = pd.read_excel(r"\...\reclass_w_base16csv_merged.xlsx")

df1

0         SISKIYOU
1         SISKIYOU
2         SISKIYOU
3         SISKIYOU
4         SISKIYOU
5         SISKIYOU
6         SISKIYOU
7         SISKIYOU
8         SISKIYOU
9         SISKIYOU
10        SISKIYOU
11        SISKIYOU
12        SISKIYOU
13        SISKIYOU
14        SISKIYOU
15        SISKIYOU
16        SISKIYOU
17        SISKIYOU
18        SISKIYOU
19        SISKIYOU
20        SISKIYOU
21        SISKIYOU
22        SISKIYOU
23        SISKIYOU
24        SISKIYOU
25        SISKIYOU
26        SISKIYOU
27        SISKIYOU
28        SISKIYOU
29        SISKIYOU
            ...
189577     VENTURA
189578     VENTURA
189579     VENTURA
189580     VENTURA
189581     VENTURA
189582     VENTURA
189583     VENTURA
189584     VENTURA
189585     VENTURA
189586     VENTURA
189587     VENTURA
189588     VENTURA
189589     VENTURA
189590     VENTURA
189591     VENTURA
189592     VENTURA
189593     VENTURA
189594     VENTURA
189595     VENTURA
189596     VENTURA
189597     VENTURA
189598     VENTURA
189599     VENTURA
189600     VENTURA
189601     VENTURA
189602     VENTURA
189603     VENTURA
189604     VENTURA
189605     VENTURA
189606     VENTURA
Name: COUNTY, Length: 189607, dtype: object

In [34]:
# Creates pivot table that indexes county name 'COUNTY' from the previously merged file and summarizes idle vs. cropped acreage.
table = pd.pivot_table(df1, index=["COUNTY"], values=["AcresMast"], columns=["S20160720"], aggfunc=[np.sum], fill_value=0, margins=True)

# Changes column headers and assigns new names.
table.columns = ['Idle', 'Rice', 'Alfalfa', 'Cropped', 'Emergent', 'Grains', 'NaN', 'Total']

# Formats values of acres 'AcresMast' to include commas yet keeps the float format of that variable.
pd.options.display.float_format = '{:,.0f}'.format

# prints out table, but does not save it yet.
table

,Idle,Rice,Alf,Cropped,Emergent,Grains,NAN,Total
COUNTY,,,,,,,,
ALAMEDA,"8,214",0,76,"1,834",601,567,0,"11,292"
ALPINE,0,0,0,919,171,0,123,"1,213"
AMADOR,712,0,0,"3,997",364,480,0,"5,552"
BUTTE,"11,219","17,592",42,"197,741","5,061","4,805",15,"236,475"
CALAVERAS,"1,683",0,0,"1,433",34,0,0,"3,150"
COLUSA,"22,869","16,178",4,"255,845","7,427","17,364",2,"319,690"
CONTRA COSTA,"5,428",0,0,"27,812",353,"2,377",782,"36,752"
EL DORADO,0,0,0,322,0,0,0,322
FRESNO,"351,919",715,0,"754,566","46,816","41,144",18,"1,195,178"
GLENN,"35,999","6,287",59,"215,204","6,405","6,378",14,"270,346"
HUMBOLDT,36,0,0,"22,331",548,0,2,"22,918"
INYO,"11,455",0,0,"4,786","4,694",0,0,"20,935"
KERN,"333,703",0,0,"583,034","34,861","36,573",28,"988,198"
KINGS,"189,126",0,0,"297,471","16,151","50,150",34,"552,931"
LAKE,524,0,0,"6,923",576,42,0,"8,065"
LASSEN,"7,297",0,0,"36,960","1,917","6,540",3,"52,716"
LOS ANGELES,"5,266",0,0,426,171,0,0,"5,863"
MADERA,"45,646",0,0,"275,219","11,950","12,357",24,"345,196"
MARIN,"1,000",0,0,"8,380",0,904,206,"10,489"
MARIPOSA,30,0,0,65,0,0,0,95
MENDOCINO,869,0,6,"23,854",279,104,2,"25,114"
MERCED,"85,440",833,0,"360,647","11,141","43,488",147,"501,696"
MODOC,"5,459",0,0,"84,025","2,218","18,519",1,"110,221"
MONTEREY,"48,046",0,0,"179,397","12,600","3,922",8,"243,972"
NAPA,"2,803",0,4,"46,374",723,645,145,"50,694"
PLACER,"14,360","8,316",0,"13,633",799,344,0,"37,452"
PLUMAS,0,0,0,"3,748",0,110,0,"3,858"
SACRAMENTO,"35,113","1,257",0,"107,042","5,455","17,096",24,"165,989"
SAN BENITO,"21,529",0,0,"23,251","4,193","1,978",23,"50,974"
SAN JOAQUIN,"53,082",578,23,"362,257","10,902","59,330",304,"486,476"
SAN LUIS OBISPO,"104,541",0,34,"64,602","8,593","2,342",29,"180,142"
SAN MATEO,79,0,0,"2,730",664,0,0,"3,473"
SANTA BARBARA,"23,056",0,1,"70,081","11,501","12,420",0,"117,060"
SANTA CLARA,"6,285",0,0,"13,095","1,135",711,0,"21,225"
SANTA CRUZ,130,0,0,"6,685",462,37,0,"7,313"
SHASTA,"3,167",471,0,"27,682","1,108","6,579",3,"39,009"
SIERRA,4,0,0,933,0,0,0,937
SISKIYOU,"37,200",0,0,"104,716","12,750","32,169",55,"186,889"
SOLANO,"43,778",13,52,"99,076","1,427","26,606",31,"170,982"
SONOMA,"9,611",0,0,"68,785","1,098","4,500",535,"84,528"
STANISLAUS,"27,087",272,0,"291,229","6,371","9,887","4,873","339,719"
SUTTER,"21,366","35,348",0,"191,095","3,262","13,432",2,"264,504"
TEHAMA,"12,755","1,269",14,"44,113","1,087","7,401",13,"66,652"
TRINITY,0,0,0,684,0,0,0,684
TULARE,"136,961",0,91,"484,429","28,224","31,832",84,"681,621"
VENTURA,"4,560",0,32,"39,005","4,589",155,0,"48,341"
YOLO,"89,030","9,416",0,"214,623","4,029","29,457",3,"346,557"
YUBA,"12,638","4,859",0,"75,799",415,"3,080","1,886","98,676"
All,"1,831,075","103,404",439,"5,698,857","273,124","505,822","9,418","8,422,138"

In [35]:
# Writes and saves table to new excel workbook, a singlular table with fallow acreage county summaries.
writer = pd.ExcelWriter(r"\...\Pivot_ALL_CA_COUNTY2016.xlsx")

temp_df = table

temp_df.to_excel(writer)

writer.save()